<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cerea </title>
    {% include "tpl/css.html" %}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/adminka/index.html" class="site_title"><i class="fa fa-paw"></i> <span>Cerea</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                {% include "tpl/profile_quickinfo.html" %}
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                {% include "tpl/sidebar_menu.html" %}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                {% include "tpl/menu_footer_buttons.html" %}
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        {% include "tpl/top_navigation.html" %}
        <!-- /top navigation -->

        <!-- page content -->
        {% include "tpl/countries/houses_content.html" %}
        <!-- /page content -->

        <!-- footer content -->
        {% include "tpl/footer.html" %}
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
{% include "tpl/jquery.html" %}

</body>
</html>
