<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <div class="col-md-12">
                    <h3>Города</h3>

                </div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <tr>
                        <td align="center">
                            <b>Город:</b>
                        </td>
                        <td align="center">
                            <b>Редактирование:</b>
                        </td>
                    </tr>
                    {% for city in cities_list %}
                        <tr>
                            <td align="center">{{ city.name }}</td>
                            <td align="center">
                                <a class="btn btn-success" href="/adminka/locations/cities/{{ city.id }}/edit/">
                                    <i class="fa fa-edit"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
