<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h2>{{ title }}</h2>
                {% include 'tpl/countries/subhtml/x_title.html' %}
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    {% for object in objects_list %}
                        <tr>
                            <td >{{ object.name }}</td>
                            <td align="center">
                                <a class="btn btn-success" href="/adminka/locations/{{ prefix }}/{{ object.id }}/edit/">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
